<form (submit)="createLeague()" class="flex flex-col gap-2" #form="ngForm" [formGroup]="createLeagueForm">
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
    <input formControlName="name" type="text" class="bg-gray-50 outline-none border border-gray-300 focus:border-indigo-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-200 dark:border-gray-700 ">
    @if (form.touched && form.invalid) {
      <label *ngIf="name.errors" class="text-sm text-red-600 dark:text-red-400">
        El correo no es valido.
      </label>
    }
  </div>

  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción</label>
    <input formControlName="name" type="text" class="bg-gray-50 outline-none border border-gray-300 focus:border-indigo-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-200 dark:border-gray-700 ">
    @if (form.touched && form.invalid) {
      <label *ngIf="description.errors" class="text-sm text-red-600 dark:text-red-400">
        El correo no es valido.
      </label>
    }
  </div>

  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Categoria</label>
    <input formControlName="name" type="text" class="bg-gray-50 outline-none border border-gray-300 focus:border-indigo-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-200 dark:border-gray-700 ">
    @if (form.touched && form.invalid) {
      <label *ngIf="description.errors" class="text-sm text-red-600 dark:text-red-400">
        El correo no es valido.
      </label>
    }
  </div>

  <button>Crear liga</button>
</form>
